{% extends "base.html" %}

{% block content %}
    <h1>
        Book {{ service.name }}
    </h1>

    <h2>Availibility</h2>
    <form class="" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.date.errors }}
            <label class="form-label" for="{{ form.date.id_for_label }}">Date:</label>
            {{ form.date }}
        </div>
        <div class="mb-3">
            {{ form.start_time.errors }}
            <label class="form-label" for="{{ form.start_time.id_for_label }}">Time:</label>
            {{ form.start_time }}
        </div>
        <button type="submit" class="">
            Book
        </button>
    </form>
{% endblock content %}